@font-face {
  font-family: 'Authentic Sans';
  src: url('../fonts/AUTHENTIC-Sans.woff2') format('woff2'),
       url('../fonts/AUTHENTIC-Sans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
