@import './variables.scss';

.nav-wrap {
  -webkit-transform: translate3d(0, 0, 0);
  will-change: transform;
  a {
    position: relative;
    z-index: 1;
    &:after {
      content: "";
      height: 3px;
      z-index: -1;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -5px;
      background: $blue;
      opacity: 0.0;
      transition: all 0.2s;
      // mix-blend-mode: exclude;
    }
  }

  a.is-active,
  a:hover {
    &:after {
      content: "";
      opacity: 0.4;
      // transform: scaleY(1) rotate(7deg);
    }
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0.0;
    background: rgba(0,0,0,0.9);
    // transform: translateY(-100%);
    transition: all 0.2s;
  }

  .solid & {
    &:after {
      opacity: 1.0;
      // transform: translateY(0%);
    }
  }
}
